[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#boto3 = "==1.26.115"
onepasswordconnectsdk = "==1.3.0"
azure-identity = "==1.12.0"
azure-common = "==1.1.28"
azure-core = "==1.26.4"
azure-keyvault-administration = "==4.3.0"
azure-keyvault-secrets = "==4.7.0"
azure-mgmt-core = "==1.4.0"
azure-mgmt-keyvault = "==10.2.1"
boto3 = "==1.26.*"
certifi = "==2022.12.7"
cffi = "==1.15.1"
charset-normalizer = "==3.1.0"
cryptography = "==41.0.0"
idna = "==3.4"
isodate = "==0.6.1"
msal = "==1.22.0"
msal-extensions = "==1.0.0"
portalocker = "==2.7.0"
pycparser = "==2.21"
pyjwt = "==2.6.0"
python-dateutil = "==2.8.2"
pyyaml = "*"
requests = "==2.31.0"
six = "==1.16.0"
typing-extensions = "==4.5.0"
urllib3 = "==1.26.15"

[dev-packages]
ddt = "*"
eradicate = "*"
pip-audit = "*"
pipupgrade = "*"
pre-commit = "*"
pylama = "*"
pylama_pylint = "*"
pylava-pylint = "*"
pylint = "*"
pylint-django = "*"
radon = "*"
scikit-learn = "*"

[requires]
python_version = "3.11"

[scripts]
audit = "pip-audit"
setup = "pipenv install --deploy --ignore-pipfile"
setup-dev = "pipenv install --dev"
lint = "pylama --options setup.cfg ."
test = "python -m unittest discover tests/onepassword/lib/"
sync = "python onepassword/sync.py"
